.nav-list {
  display: flex;
  background-color: black;
  line-height: 40px;
}

.nav-list h2 {
  color: white;
  margin-left: 20px;
}

.nav-list ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav-list ul li{
  list-style: none;
  line-height: 50px;
}

.nav-list ul li a {
  color: white;
  text-decoration: none;
}

.nav-list ul li a:hover {
  color: gray;
  border-bottom: 1px solid gray;
}
